#tutorial{
  display: none;
}

#site{
  margin-left: 30px;
  margin-right: 20px;
}

.description{
  margin-top: 10px;
  margin-left: 10px;
}

.code{
  font-family: Courier;
}

.code-editor{
  width: 600px;
  height: 150px;
  border: 1px;
  border-style: solid;
  border-color: black;
}

.test-success{
  background: #9ACD32;
  font-size: 16px;
  padding: 5px;
}

.test-failure{
  background: #FF4500;
  font-size: 16px;
  text-decoration: line-through;
  padding: 5px;
}