#tutorial{
  display: none;
}

#site{
  margin-left: 30px;
  margin-right: 20px;
}

.description{
  margin-top: 10px;
  margin-left: 10px;
}

.code{
  font-family: Courier;
}

.code-editor{
  width: 600px;
  height: 150px;
  border: 1px;
  border-style: solid;
  border-color: black;
}